node_modules
.next
.husky
coverage
.prettierignore
.stylelintignore
.eslintignore
.commitlint.config.js
.lintstagedrc.js
.eslintrc.js
.next.config.js
.bun.lockb
.package-lock.json
.pnpm-lock.yaml
out
