# DATABASE_URL='postgresql://postgres.vtwgdobokeojuqhaxynp:53eRG9xLzf7FY7aC@aws-0-ap-south-1.pooler.supabase.com:6543/postgres'
# DIRECT_URL='postgresql://postgres.vtwgdobokeojuqhaxynp:53eRG9xLzf7FY7aC@aws-0-ap-south-1.pooler.supabase.com:5432/postgres'
AUTH_SECRET=rIbo88yguYW2Gfdg31fgWnwwSlRl2Pd3KHgfhgfuSYMijO7JPHkKVIY
AUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL='http://localhost:3000/api'          

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.vtwgdobokeojuqhaxynp:shuvoVaiIsFire@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.vtwgdobokeojuqhaxynp:shuvoVaiIsFire@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
